{% extends 'layouts/main/index.html.twig' %}

{% block title %}Posts{% endblock %}

{% block content %}
  Total posts: {{ totalPosts }}.

  <b-pagination-nav
    v-model="currentPage"
    :number-of-pages="{{ pagesCount }}"
    base-url="/blog/"
    align="center"
  ></b-pagination-nav>

  <b-card-group
    class="my-5"
    columns
  >
    {% for post in posts %}
      <b-card no-body>
        <b-link to="{{ path('post', { slug: post.slug, id: post.id }) }}" exact>
          <b-card-img
            src="https://picsum.photos/350/250?image={{ post.id }}"
            alt="Image"
            top
          ></b-card-img>
        </b-link>
        <b-card-body>
          <h3>
            <b-link
              to="{{ path('post', { slug: post.slug, id: post.id }) }}"
              exact
            >
              {{ post.title }}
            </b-link>
            {#<b-link to="{{ postLink(post) }}" exact>{{ post.title }}</b-link>#}

          </h3>
          <p class="card-text">
            <br>
            {{ post.textShort }}
          </p>
        </b-card-body>
        <b-card-footer>
          By
          <b>
            {{ post.author.username }}
          </b>
          <br>
          {{ blogDate(post.createdAt()) }}
        </b-card-footer>
      </b-card>
    {% endfor %}
  </b-card-group>

  <b-pagination-nav
    v-model="currentPage"
    :number-of-pages="{{ pagesCount }}"
    base-url="/blog/"
    align="center"
  ></b-pagination-nav>
{% endblock %}
