{% extends 'layouts/main/index.html.twig' %}

{% block title %}Posts{% endblock %}

{% block content %}
  Total posts: {{ totalPosts }}.

  <b-pagination-nav
    v-model="currentPage"
    :number-of-pages="{{ pagesCount }}"
    align="center"
  ></b-pagination-nav>

  <b-card-group columns>
    {% for post in posts %}
      <b-card
        img-src="https://picsum.photos/350/250?image={{ post.id }}"
        img-fluid
        img-alt="image"
        img-top
      >
        <h3>
          {#<b-link to="{{ path('post', { slug: post.slug, id: post.id }) }}" exact>{{ post.title }}</b-link>#}
          <b-link to="{{ postLink(post) }}" exact>{{ post.title }}</b-link>

        </h3>
        <p class="card-text">

          <br>

          {{ post.textShort }}
        </p>
        <div slot="footer">
          By {{ post.author.username }}
          <br>
          {{ blogDate(post.getCreatedAt()) }}
        </div>
      </b-card>
    {% endfor %}
  </b-card-group>

  <b-pagination-nav
    v-model="currentPage"
    :number-of-pages="{{ pagesCount }}"
    base-url="/blog/"
    align="center"
  ></b-pagination-nav>
{% endblock %}
