{% extends 'layouts/main/index.html.twig' %}

{% block title %}Post{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>

  {{ blogDate(post.createdAt) }}

  {# Теги #}
  <div>
    {% for tag in post.tags %}
      <b-badge variant="secondary">
        {{ tag.name }}
      </b-badge>
    {% endfor %}
  </div>

  <p>
    {{ post.text }}
  </p>

  <hr>

  {{ form(form) }}


  <h4 class="mb-4">
    Comments

    <b-button
      variant="primary"
      class="ml-4"
    >
      Add comment
    </b-button>
  </h4>

  <editor></editor>

  {% include 'blog/posts/parts/comments_tree.html.twig' with { commentsPost: post, comments: rootComments, form: form } only %}

  <div class="d-flex justify-content-center mt-4">
    {{ knp_pagination_render(rootComments) }}
  </div>

  {#{% for comment in post.getComments() %}#}
    {#<div>#}
      {#{{ comment.text }}#}
    {#</div>#}
  {#{% endfor %}#}
{% endblock %}
