{% extends 'layouts/main/index.html.twig' %}

{% block title %}Post{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>

  {{ blogDate(post.createdAt) }}

  <p>
    {{ post.text }}
  </p>

  <hr>

  {{ form(form) }}


  <h4 class="mb-4">
    Comments

    <b-button
      variant="primary"
      class="ml-4"
    >
      Add comment
    </b-button>
  </h4>

  <editor></editor>

  {% include 'blog/posts/parts/commentsLvl.html.twig' with { commentsPost: post, comments: rootComments, form: form } only %}

  {#{% for comment in post.getComments() %}#}
    {#<div>#}
      {#{{ comment.text }}#}
    {#</div>#}
  {#{% endfor %}#}
{% endblock %}
