<div class="comments-wrap ml-5 my-2">
  {% for comment in comments %}
      {#<b-card class="comments ml-4 mb-2">#}

      {#createdAt#}
      {{ blogDate(comment.getCreatedAt()) }}

      <p class="card-text">
        {{ comment.text }}
        <br>
        {#<b-button#}
          {#size="sm"#}
          {#variant="secondary"#}
        {#>#}
          {#Reply#}
        {#</b-button>#}

        <b-btn
          v-b-toggle.collapse-for-comment{{ comment.id }}
          size="sm"
          variant="secondary"
        >
          Reply
        </b-btn>
        <b-collapse id="collapse-for-comment{{ comment.id }}" class="mt-2">
          <b-form
            @submit="onSubmit"
            action="{{ url('post', { slug: commentsPost.slug, id: commentsPost.id}) }}"
            method="post"
          >
            <b-form-group
              label="Email address:"
              label-for="comment-{{ comment.id }}-input-message"
              description="Please, provide a good message."
            >
              <input type="hidden" name="token" value="{{ csrf_token('create-comment-item') }}" />

              <b-form-input
                v-model="formComment.text"
                id="comment-{{ comment.id }}-input-message"
                type="text"
                placeholder="Enter text"
                required
              >
              </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">
              Submit
            </b-button>
          </b-form>
        </b-collapse>
      </p>

      <hr>

      {% set childrenComments = comment.getChildrenComments() %}

      {% if childrenComments | length > 0 %}
        {# не уверен что стоит так делать, комменты же имеют одинаковый пост,
        не хотел писать commentsPost: commentsPost как ты мне замечание сделал с comments: comments #}
        {% set childrenCommentsPost = commentsPost %}

        {% include 'blog/posts/parts/commentsLvl.html.twig' with { commentsPost: childrenCommentsPost, comments: childrenComments, form: form } only %}
      {% endif %}

      {#</b-card>#}
  {% endfor %}
</div>
